{%extends 'base.html' %}

{% block head %}
<div class = "container">
    <li ><a href="/">Home</a></li>
    <li><a href="profile.html">Profile</a></li>
    <li><a href="/recommendations">Recommendations</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="about.asp">About</a></li>
    <li style="float:right">
    </li>
</div>
{% endblock %}

{% block body %}
<body>
    <h3 style="text-align: center;">Guide to using this recommendation system</h3>
    <h5 style="text-align: center;">#1. Rate at least 3 books on this site in order to view "Recommendations"</h5>
    <h5 style="text-align: center;">#2. </h5>
    <h5 style="text-align: center;">1.  Rate at least 3 books on this site</h5>
    <h5 style="text-align: center;">1.  Rate at least 3 books on this site</h5>
</body>
{% endblock %}